<app-sidebar></app-sidebar>
<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section>
      <div class="card">
        <div class="card-body">
          <div class="card-text">
      <div class="row"></div>
    <div class="card">
      <div class="card-header card-header-rose card-header-icon">
        <h2>AddState</h2> 
      </div>
      <div class="card-body ">
    
        <div class="col-md-12">
    
          <form  class="form-inline justify-content-center">
    
            <div class="row">
    
              <div class="col-6">
                <div class="form-group">
    
                  <label for="first-name-icon">Ville</label>
                  <div class="input-group input-group-merge">
                
                    </div>
                    <input type="text" id="ville" class="form-control" name="ville" placeholder="ville" [(ngModel)]="ville.nom"required/>
    
                  </div>
    
                </div>
                <!--/form group-->
              
              <!--/col-6-->
    
            </div>
            <!--/row-->
            <br> <br>
    
            <div class="row align ">
    
              <div class="row addBtn">
    
                <div class="col-md-7 ">
                  <button type="submit" class="btn btn-primary btn-rounded" (click)="add()">Add</button>
                </div>
              </div>
            </div>
            <!--/row align-->
          </form>
          <!--/form form-vertical-->
        </div>
        <!--/col-md-12-->
      </div>
      <!--/card-body-->
    </div>
    <!--/card-->
  </div>
</div>
</div>

