<app-sidebar></app-sidebar>

<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section>
      <div class="card">
        <div class="card-body">
          <div class="card-text">
      <div class="row"></div>
    <div class="card">
      <div class="card-header card-header-rose card-header-icon">
        <h2>AddUser</h2> 
      </div>
      <!--/card-header-->
      <div class="card-body ">
    
        <div class="col-md-12">
    
          <form  class="form-inline justify-content-center">
    
            <div class="row">
    
              <div class="col-6">
                <div class="form-group">
    
                  <label for="exampleFormControlInput1">userName</label>
                  <div class="input-group input-group-merge">
                    </div>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="userName" placeholder="userName" [(ngModel)]="user.userName"required>
                  </div>
                <!--/form group-->
              </div>
              <!--/col-6-->
              <div class="col-6">
                <div class="form-group ">
                  <label  for="exampleFormControlInput1">Email</label>
                  <div class="input-group input-group-merge">
                    </div>
                    <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="email" [(ngModel)]="user.email" required>
                  </div>
                <!--/form group-->
              </div>
              <!--/col-6-->
            </div>
            <!--/row-->
            <!--/row-->
            <div class="row">
             <div class="col-6">
                <div class="form-group">
    
                  <label for="exampleFormControlInput1">userRole</label>
                  <div class="input-group input-group-merge">
                  <input type="text" class="form-control" id="exampleFormControlInput1" name="role" placeholder="role" [(ngModel)]="user.role"required>
                </div>
                <!--/form group-->
              </div>
              <!--/col-md-6-->
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="exampleFormControlInput1">userPassword</label>
                  <div class="input-group input-group-merge">
                    </div>
                    <input type="password" class="form-control" id="exampleFormControlInput1" name="password" placeholder="password" [(ngModel)]="user.password" required>
                  </div>
                <!--/form group-->
              </div>
            </div>
            <!--/row-->
              <br>
            <br> <br>
            <div class="row align ">
              <div class="row addBtn">
                <div class="col-md-7 ">
                  <button type="submit" class="btn btn-primary btn-rounded" (click)="add()">Add</button>
                </div>
              </div>
            </div>
            <!--/row align-->
          </form>
          <!--/form form-vertical-->
        </div>
        <!--/col-md-12-->
      </div>
      <!--/card-body-->
    </div>
    <!--/card-->
  </div>
</div>
</div>
