<app-sidebar></app-sidebar>
<br><br><br>
<div class="app-content content ">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <div class="card">
    
        <div class="card-header card-header-rose card-header-icon">
      
          <h2>Viewestablishment</h2> 
      
        </div>
      <section>
      
       <div class="card">
         <div class="card-body">
           <div class="card-text">

<div class="card-body" style="overflow-y: scroll;">
    <div class="row">

<!--table-->
<div class="card-body">

    <div class="row">
        <table class="table table-responsive-sm table-bordered table-outline mb-0">
            <thead class="thead-light">
                <tr>
                    <th class="text-center">Name </th>
                    <th class="text-center">Description </th>
                    <th class="text-center">State</th>
                    <th class="text-center">Secteur</th>
                    <th >UserActions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of listeu">
                    <td > {{e.name}}</td>
                    <td > {{e.description}}</td>
                    <td > {{e.etat}}</td>
                    <td > {{e.secteur}}</td>
                    <td _ngcontent-wrv-c118="">
                      <div _ngcontent-wrv-c118="" class="overlay-edit">
                        <button _ngcontent-wrv-c118="" type="button" class="btn btn-danger btn-rounded" (click)="delete(e._id)"><i data-feather="trash-2"></i>Delete</button>
                          <button _ngcontent-wrv-c118=""  button type="button" class="btn btn-primary btn-rounded" (click)="edit(e._id)"><i data-feather="edit"></i> Edit</button>
                      </div>
                  </td>
                </tr>
  
            </tbody>
        </table>
    </div>
  </div>
  <!--/card-->
           </div>
         </div>
       </div>
       
